<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1099055792753-ua9q2llsjtjbd99agnpadg22g64kgbdj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099055792753-ua9q2llsjtjbd99agnpadg22g64kgbdj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1099055792753-51lkkuc60bess8inpjiiie54ucknrapf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4YFYximcDuX5li-jDvK6cqqn7Rqh3LQg</string>
	<key>GCM_SENDER_ID</key>
	<string>1099055792753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blackcartransport.app</string>
	<key>PROJECT_ID</key>
	<string>blackcartransport</string>
	<key>STORAGE_BUCKET</key>
	<string>blackcartransport.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099055792753:ios:d18b43c125b91b7740d1d0</string>
</dict>
</plist>