<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1099055792753-706plgeqm77p5skle9u5e12p2on0as08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099055792753-706plgeqm77p5skle9u5e12p2on0as08</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1099055792753-51lkkuc60bess8inpjiiie54ucknrapf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIvDowFAOpiXCPIHbYIBlN9ALAFmcCWbw</string>
	<key>GCM_SENDER_ID</key>
	<string>1099055792753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blackcartransport.blackcar</string>
	<key>PROJECT_ID</key>
	<string>blackcartransport</string>
	<key>STORAGE_BUCKET</key>
	<string>blackcartransport.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099055792753:ios:4486e38b352db2f940d1d0</string>
</dict>
</plist>